<html>
   <body>
      
      <form action = "{{ url_for('addrec') }}" method = "POST">
         <h3>GigaMonster Marketing Request Form</h3>
         Name<br>
         <input type = "text" name = "name" /></br>
         
         Email Address<br>
         <textarea name = "email" ></textarea><br>
         
         Property<br>
         <input type = "text" name = "property" /><br>
         
         Date Needed<br>
         <input type = "text" name = "date_needed" /><br>
         <input type = "submit" value = "submit" /><br>
      </form>
      
   </body>
</html>